/* src/app/contact/contact.component.css */
.contact {
    padding: 20px;

    h2 {
      display: flex;
      justify-content: center;
      font-size: 32px;
    }

    h3 {
      display: flex;
      justify-content: center;
    }
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    
  }
  
  textarea {
    height: 200px;
  }

  button {
    background-color: #0066b3;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #cccccc;
  }
  
  select {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
  }
