<div class="history">
    <h2>História do Futebol Americano</h2>

    <div class="carousel-container">
        <div class="carousel">
          <div class="carousel-item">
            <img src="assets/images/history-football.jpg" alt="Historia 1">
          </div>
          <div class="carousel-item">
            <img src="assets/images/history-football2.jpg" alt="Historia 2">
          </div>
          <div class="carousel-item">
            <img src="assets/images/history-football3.jpg" alt="Historia 3">
          </div>
        </div>
      </div>

    <p>Conta-se que o futebol americano surgiu durante uma partida entre a universidade de Harvard e a universidade de Yale, em meados do século XIX. O problema é que os times jogavam de modo diferente: enquanto um jogava com as regras do rugby, o outro jogava com estilo próximo ao futebol europeu. Pretendendo um acordo, Yale assimilou as regras do rugby e Harvard, o modo de correr com a bola.<br><br> A primeira organização desse esporte foi a Intercollegiate Football Association, composta pelas universidades de Harvard, Yale, Columbia e Princeton, e que essa instituição optou por adotar as regras do rugby, mas com diferenciação na contagem de pontos.<br><br>

        Uma curiosidade histórica sobre esse esporte é o fato de que no final do século XIX havia alguns tipos de formações entrecruzadas em campo que chegaram a provocar mortes. Dizem que em 1905, ocorreram dezoito mortes em partidas. Foi apenas em 1910 que esse tipo de formação foi realmente proibido.<br><br>
        
        O jogo é disputado em um campo, que pode ser com grama natural ou artificial, com a metragem de 91,44 metros de comprimento X 48,76 metros de largura. A divisão do campo se dá em jardas (unidade de comprimento bastante utilizada nos EUA e na Inglaterra, que equivale a 0,914 metros): são 20 zonas de 5 jardas cada uma. A área de proximidade do gol é chamada de endzone, e mede 10 jardas em cada lado do campo. O local da marcação de pontos é em formato de Y, segurado por uma barra a três metros do solo. As traves têm uma distância entre si de 5,63 metros. A bola utilizada é feita do mesmo tipo de couro utilizada na bola de basquetebol. Seu peso varia de 200 a 400 gramas, e mede 30 centímetros de comprimento por 18 de largura.<br><br>
        
        As regras do futebol americano são bastante diferentes para nós. O jogo é dividido em quatro tempos (quartos) de 15 minutos. Disputam a partida dois times com 11 jogadores cada um, de modo que apenas um jogador tem a função do ataque e todos os outros jogam defendendo.<br><br>
        
        A partida se inicia quando um dos times chuta a bola em direção ao campo adversário, da linha de 35 jardas. Dez jardas devem ser percorridas antes que qualquer jogador toque na bola. Uma regra básica é a que sempre que uma equipe pontua, é ela quem dá o novo chute para reinicio da partida. Com a bola em jogo, somente o jogador com a bola é que pode ser derrubado, porém aos jogadores da defesa é permitido segurar os do ataque. O contrário não é permitido: jogadores do ataque não podem segurar os da defesa. O avanço do time em direção ao campo adversário é feito a partir de quatro chances de jogada. Quando isso é conseguido pelo time, ele ganha mais quatro oportunidades para chegar à zona final adversária e marcar um touchdown.</p>
</div>